@font-face {
    font-family: anton;
    src: url(assets/Anton.ttf);
}

body{
    background: #FFFDED;
    box-sizing: border-box;
    margin: 0;
    overflow: hidden;
}
.box{
    padding: 50px 15px 30px 15px;
    border-radius: 5px;
    margin: 2vh auto;
    width: 500px;
    background: #3943B7;
    box-shadow: 1px 8px 6px black;
    text-align: center;
    position: relative;
}
.reload img{
    position: absolute;
    height: 40px;
    right: 5px;
    top: 5px;
}
.reload img:hover{
    cursor: pointer;
}
.display{
    padding: 0 20%;
    display: flex;
    justify-content: space-between;
    gap:90px;
    position: relative;
}

.image1,.image2 span{
    color: #FFFDED;
    font-family:anton;
    letter-spacing: 1px;
    font-weight: lighter;
    font-size: 18px;
}
#image{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    margin: 3px;
    transition: .3s ease-in;
    padding: 15px;
    border-radius: 5px;
}
#image:hover{
    cursor: pointer;
    transform: translateY(-5px);
    background: #4f59caa8;
}
.display img{
    height: 80px;
}
#image span{
    font-size: 20px;
    color: #FFFDED;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.image1 img{
    transform-origin: left;
}
.image2 img{
    transform-origin: right;
    transition: ease;
}
@keyframes shake {
    25% { transform: rotate(10deg); }
    75% { transform: rotate(-10deg); }
}
.shake-animation {
    animation: shake 0.5s infinite;
}

.play h3{
    color: #FFFDED;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
    border-radius: 50px;
}
.choices{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}
.choices img{
    height: 70px;
}
@media screen and (max-width: 450px) {
    .box{
        width: 90%;
    }
    .display{
        gap: 20px;
    }
    .image1 img,.image2 img{
        height: 50px;
    }
    .choices img{
        height: 50px;
    }
    .play h3{
        font-size: 20px;
    }
    .reload img{
        height: 40px;
    }
    .image1 span,.image2 span{
        font-size: 15px;
    }
    #image span{
        font-size: 20px;
    }
    
}
.scoreBoard{
    width: 500px;
    margin: 0 auto;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 2px solid #3943B7 ;
    border-radius: 10px;
}
.title{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    flex:1;
    background-color: #3943B7;
    color: #FFFDED;
    align-self: stretch;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
}
.players{
    flex: 1;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.player:first-child{
    border-bottom:2px solid #3943B7;
}
.player h3{
    font-size: 15px;
}
.player span{
    font-size: 25px;
}